<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>328</integer>
		<key>y</key>
		<integer>391</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>264</integer>
		<key>y</key>
		<integer>326</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>262</integer>
		<key>y</key>
		<integer>263</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>330</integer>
		<key>y</key>
		<integer>202</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>393</integer>
		<key>y</key>
		<integer>199</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>456</integer>
		<key>y</key>
		<integer>201</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>455</integer>
		<key>y</key>
		<integer>262</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>583</integer>
		<key>y</key>
		<integer>268</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>582</integer>
		<key>y</key>
		<integer>198</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>263</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>331</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>390</integer>
		<key>y</key>
		<integer>519</integer>
	</dict>
</array>
</plist>
