<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
                <integer>198</integer>
		<key>y</key>
                <integer>648</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>266</integer>
		<key>y</key>
                <integer>647</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>454</integer>
		<key>y</key>
                <integer>646</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>519</integer>
		<key>y</key>
                <integer>644</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>583</integer>
		<key>y</key>
                <integer>454</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>583</integer>
		<key>y</key>
                <integer>579</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>516</integer>
		<key>y</key>
                <integer>388</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>455</integer>
		<key>y</key>
                <integer>389</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>263</integer>
		<key>y</key>
                <integer>391</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>267</integer>
		<key>y</key>
                <integer>518</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>200</integer>
		<key>y</key>
                <integer>518</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>72</integer>
		<key>y</key>
                <integer>326</integer>
	</dict>
        <dict>
                <key>x</key>
                <integer>71</integer>
                <key>y</key>
                <integer>68</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>260</integer>
                <key>y</key>
                <integer>66</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>327</integer>
                <key>y</key>
                <integer>69</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>519</integer>
                <key>y</key>
                <integer>69</integer>
        </dict>
</array>
</plist>
